*{
    margin: 0px;
    padding: 0px;
}
body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    margin: 0px auto;
    border: 1px solid black;
}
header{
    background: orangered;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed darkblue;
}
nav{
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;
   
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix{
    clear: both;
}
#content{
    float: left;
    min-height: 500px;
    width: 80%;
    background: green;
    
}
aside{
    left: 20%;
    width: 20%;
    float: left;
    min-height: 500px;

    
    
    background: orange;
}
footer{ 
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;

}
form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.article´{
    color: white;
    margin-bottom: 15px;
}